<div class="flex flex-row justify-between">
  <div class="flex flex-row gap-1">
    <button
      appButton="white"
      title="First page"
      [disabled]="isFirstPage()"
      (click)="goToFirstPage()"
      class="shadow"
    >
      <app-chevron-double-left-icon
        cssClass="size-4"
      ></app-chevron-double-left-icon>
    </button>

    <button
      appButton="white"
      title="Prev page"
      [disabled]="!hasPrevPage()"
      (click)="goToPrevPage()"
      class="shadow"
    >
      <app-chevron-left cssClass="size-4"></app-chevron-left>
    </button>
  </div>

  <div class="flex flex-row gap-1 items-center">
    @for (pageNumber of pageButtons(); let index = $index; track index) {
      @if (pageNumber === currentPage()) {
        <button
          appButton="primary"
          [title]="'Go to page ' + pageNumber"
          (click)="goToPage(pageNumber)"
          class="!hidden md:!inline-block font-bold text-sm min-w-8 justify-center shadow"
        >
          {{ pageNumber }}
        </button>

        <span class="md:hidden">
          <span class="font-bold">{{ pageNumber }}</span>
          of {{ totalPages() }}
        </span>
      } @else {
        <button
          appButton="white"
          [title]="'Go to page ' + pageNumber"
          (click)="goToPage(pageNumber)"
          class="!hidden md:!inline-block text-sm min-w-8 justify-center shadow"
        >
          {{ pageNumber }}
        </button>
      }
    }
  </div>

  <div class="flex flex-row gap-1">
    <button
      appButton="white"
      title="Next page"
      [disabled]="!hasNextPage()"
      (click)="goToNextPage()"
      class="shadow"
    >
      <app-chevron-right cssClass="size-4"></app-chevron-right>
    </button>

    <button
      appButton="white"
      title="Last page"
      [disabled]="isLastPage()"
      (click)="goToLastPage()"
      class="shadow"
    >
      <app-chevron-double-right-icon
        cssClass="size-4"
      ></app-chevron-double-right-icon>
    </button>
  </div>
</div>
