<div class="flex flex-row justify-between">
  <div class="flex flex-row gap-1">
    <button
      appButton="white"
      title="First page"
      [disabled]="isFirstPage()"
      (click)="goToFirstPage()"
      class="shadow"
    >
      <app-chevron-double-left-icon
        cssClass="size-4"
      ></app-chevron-double-left-icon>
    </button>

    <button
      appButton="white"
      title="Prev page"
      [disabled]="!hasPrevPage()"
      (click)="goToPrevPage()"
      class="shadow"
    >
      <app-chevron-left cssClass="size-4"></app-chevron-left>
    </button>
  </div>

  <div class="flex flex-row gap-1">
    @for (pageNumber of pageButtons(); track pageNumber) {
      <button
        [appButton]="pageNumber === currentPage() ? 'primary' : 'white'"
        [title]="'Go to page ' + pageNumber"
        [ngClass]="{
          '!inline-block font-bold': pageNumber === currentPage(),
          '!hidden md:!inline-block': pageNumber !== currentPage()
        }"
        (click)="goToPage(pageNumber)"
        class="text-sm min-w-8 justify-center shadow"
      >
        {{ pageNumber }}
      </button>
    }
  </div>

  <div class="flex flex-row gap-1">
    <button
      appButton="white"
      title="Next page"
      [disabled]="!hasNextPage()"
      (click)="goToNextPage()"
      class="shadow"
    >
      <app-chevron-right cssClass="size-4"></app-chevron-right>
    </button>

    <button
      appButton="white"
      title="Last page"
      [disabled]="isLastPage()"
      (click)="goToLastPage()"
      class="shadow"
    >
      <app-chevron-double-right-icon
        cssClass="size-4"
      ></app-chevron-double-right-icon>
    </button>
  </div>
</div>
