<div class="flex gap-1 items-center row-actions text-gray-500">
  <a
    appButton="transparent"
    class="!p-1"
    [routerLink]="detailsLink"
    title="Details"
  >
    <app-info-circle-icon cssClass="size-5"></app-info-circle-icon>
  </a>

  <button
    appButton="transparent"
    class="!p-1"
    [appToggleFavoriteTvShow]="tvShow"
    [attr.data-test-id]="'action-bookmark-' + tvShow.id"
  >
    <app-bookmark-icon cssClass="size-5"></app-bookmark-icon>
  </button>

  <button
    appButton="transparent"
    class="!p-1"
    [attr.data-test-id]="'action-wishlist-' + tvShow.id"
  >
    <app-clipboard-document-list-icon
      cssClass="size-5"
    ></app-clipboard-document-list-icon>
  </button>

  <button
    appButton="transparent"
    class="!p-1"
    [appOpenTvShowGallery]="tvShow.id"
    [attr.data-test-id]="'action-gallery-' + tvShow.id"
  >
    <app-arrow-top-right-on-square-icon
      cssClass="size-5"
    ></app-arrow-top-right-on-square-icon>
  </button>
</div>
