@if (details(); as tvShowDetails) {
  <app-tv-show-details [details]="tvShowDetails"></app-tv-show-details>
} @else {
  <app-error-placeholder
    [message]="data().resolveErrorMessage"
  ></app-error-placeholder>
}

<div class="mt-4 flex flex-row gap-4">
  <button
    appButton="primary"
    class="gap-4 !px-4"
    [appToggleDialog]="imagesDialog"
  >
    <app-photo-icon cssClass="size-4"></app-photo-icon>

    <span>Show images</span>
  </button>

  <app-back-button></app-back-button>
</div>

<app-dialog #imagesDialog [dialogTitle]="details()?.name">
  <app-gallery-slides-show [photos]="gallerySlides()"></app-gallery-slides-show>
</app-dialog>
