@if (details(); as tvShowDetails) {
  <app-tv-show-details [details]="tvShowDetails"></app-tv-show-details>
} @else {
  <app-error-placeholder
    [message]="data().resolveErrorMessage"
  ></app-error-placeholder>
}

<div class="mt-4 flex flex-row gap-4">
  @if (details(); as details) {
    @if (details.pictures.length) {
      <div>
        <button
          appButton="primary"
          class="gap-4 !px-4"
          [appToggleDialog]="galleryDialog.dialog"
        >
          <app-photo-icon cssClass="size-4"></app-photo-icon>

          <span>Show images</span>
        </button>

        <app-tv-show-gallery-dialog
          #galleryDialog
          [tvShow]="details"
        ></app-tv-show-gallery-dialog>
      </div>
    }
  }

  <app-back-button></app-back-button>
</div>
