<header class="bg-white border-b-4 mb-8 shadow">
  <div class="container flex items-center gap-8">
    <a
      [routerLink]="HOME_LINK"
      class="hidden md:block p-4 font-bold hover:bg-gray-50"
    >
      TV Show Tracker
    </a>

    <div class="flex flex-1 justify-between gap-4">
      <div class="flex gap-1 items-center">
        <a
          [routerLink]="SEARCH_LINK"
          routerLinkActive="active"
          class="menu-link"
          [title]="SEARCH_LABEL | transloco"
        >
          {{ SEARCH_LABEL | transloco }}
        </a>

        <a
          [routerLink]="FAVORITES_LINK"
          routerLinkActive="active"
          class="menu-link"
          [title]="FAVORITES_LABEL | transloco"
        >
          {{ FAVORITES_LABEL | transloco }}
        </a>

        <a
          [routerLink]="WISHLIST_LINK"
          routerLinkActive="active"
          class="menu-link"
          [title]="WISHLIST_LABEL | transloco"
        >
          {{ WISHLIST_LABEL | transloco }}
        </a>
      </div>

      <a
        [routerLink]="SIGN_IN_LINK"
        routerLinkActive="active"
        class="menu-link"
        [title]="SIGN_IN_LABEL | transloco"
      >
        {{ SIGN_IN_LABEL | transloco }}
      </a>
    </div>
  </div>
</header>

<div class="container mb-4">
  <router-outlet></router-outlet>
</div>
