<div class="slides-show">
  <div class="active-slide">
    @if (activePhoto(); as photo) {
      <img [src]="photo.url" class="flex-1 object-contain" />
    }
  </div>

  <div class="slides">
    <ul>
      @for (onePhoto of photos(); track onePhoto.url) {
        <li
          class="slide"
          (click)="setActivePhoto(onePhoto)"
          [ngClass]="{ active: onePhoto === activePhoto() }"
        >
          <app-slide-thumb [photo]="onePhoto"></app-slide-thumb>
        </li>
      }
    </ul>
  </div>
</div>
